{{! Search mask box}}
<div id="search-mask" class="bf-head-color" style="display: none;">
	<a onclick="return false;" class="search-close">
            <i class="fa fa-times"></i>
        </a>
        <div class="container row search-container">
            <div class="col offset-s1 s10 offset-m3 m8 offset-l4 l8">
                <div class="search-label center-align">
                    <label for="s">검색어를 입력하세요.</label>
                </div>
                <div id="site-search" style="display:none;">
	            <input type="text" id="searchKey" name="s" class="typeahead search-input" autofocus="" placeholder="검색어 입력">
                </div>
            </div>
       </div>
</div>